<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @marital_status.value %>
</p>

<%= link_to 'Edit', edit_marital_status_path(@marital_status) %> |
<%= link_to 'Back', marital_statuses_path %>
