<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @discount_technical_type.value %>
</p>

<%= link_to 'Edit', edit_discount_technical_type_path(@discount_technical_type) %> |
<%= link_to 'Back', discount_technical_types_path %>
