<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @salary_range.value %>
</p>

<%= link_to 'Edit', edit_salary_range_path(@salary_range) %> |
<%= link_to 'Back', salary_ranges_path %>
